/* --------------------- CSS Reset ---------------------
- for better layout control
- Removes default margin and padding from all elements.  
- Applies the border-box model to ensure padding and border are included in element dimensions.  
- Prevents unexpected spacing issues and provides a consistent starting point for styling.  */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*--------------------- Basic css styling ---------------------*/

/* Font styling */

h1,
h2,
h3,
h4,
p,
a,
label,
.form-button {
  font-family: "Roboto Mono", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  line-height: 27px;
  color: rgba(0, 0, 0);
}

h1 {
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 1.1;
  margin-top: 0.5rem;
  margin-bottom: 1.2rem;
  text-transform: uppercase;
}

h2 {
  margin-bottom: 1.2rem;
  text-transform: uppercase;
}

p {
  font-weight: 400;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.75);
}

.projects-h1,
.about-me-h1,
.contact-h1 {
  font-size: 2rem;
}

/* Padding of screen sides */

.hero-content,
.about-content,
.projects-hero,
.projects,
.about-me-hero,
.contact-content {
  margin-top: 3rem;
  margin-left: 1.2rem;
  margin-right: 1.2rem;
}

/* Basic button styling */

.btn,
.form-button {
  text-decoration: none;
  text-align: center;
  border: solid black;
  border-width: 0.125em;
  border-radius: 0.4rem;
  box-shadow: #030303 0.4rem 0.4rem 0;
  padding: 1rem 2rem;
  margin: 0px 0px 1.3rem;
  /* For button lift up hover effect */
  transition: transform 0.3s ease;
}

.btn:hover,
.form-button:hover {
  /* Button lift up hover effect */
  transform: translateY(-5px);
}

/* Logo styling */

.logo {
  color: black;
  font-family: "Jersey 10", serif;
  font-weight: 100;
  font-style: normal;
  font-size: 1.7rem;
}

/* Basic picture tag reset */

picture {
  display: block;
  line-height: 0;
}

/*--------------------- Media-Queries ---------------------*/

/*--------------------- Mobile Media-Query ---------------------*/

@media (max-width: 640px) {

  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 1.5rem;
  }
  .hero-intro,
  .about-p,
  .eyebrow {
    font-size: 1rem;
  }
  /* Title breaks at index.html mit span tags */
  .hero-heading-tablet {
    display: none; /* Tablet-version heading is hidden */
  }

  .hero-heading-mobile span {
    display: block; /* Line breaks for heading */
  }
  /* Button position (full width) */
  .btn {
    display: block;
    font-size: 1.2rem;
  }

  .about-text-span {
    display: block;
  }

  /* Hide nav-items for mobile screens */
  .nav-container > .nav-item {
    display: none;
  }

  .hero-img-container,
  .about-img-container {
    margin-top: 3rem;
  }

  .fa-linkedin, .fa-square-github, .fa-square-facebook {
    font-size: 2.5em;
  }

  .footer-follow {
    font-size: 1rem;
    font-weight: bold;
  }

  a.footer-link {
    font-size: 1rem;
  }

  .copyright {
    font-size: 1rem;
  }

  .footer-menu-link {
    padding-bottom: 0.3rem;
  }

}

/*--------------------- Tablet Media-Query ---------------------*/

@media (min-width: 641px) and (max-width: 1024px) {
  /* Hide nav-items for tablet screens */
  .nav-container > .nav-item {
    display: none;
  }

  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2rem;
  }

  .hero-heading-mobile {
    display: none; /* Mobile-version heading hidden */
  }

  .hero-heading-tablet {
    display: block;
  }

  .hero-heading-tablet span {
    display: block; /* Line break after "Venturing Into" */
  }

  .hero-intro,
  .about-p,
  .eyebrow {
    font-size: 1.2rem;
  }

  .btn {
    display: inline-flex;
    width: fit-content;
    margin-right: 1.5rem;
    margin-bottom: 5rem;
  }

  .hero-container {
    margin-top: 4rem;
  }

  .hero-content,
  .about-content {
    margin-left: 2rem;
    margin-right: 2rem;
  }

  .about-content {
    margin-top: 6rem;
  }

  .hero-img-container {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .hero-img-container img,
  .about-img-container img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  .hero-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: flex-start;
  }
}

/*--------------------- Desktop Media-Query ---------------------*/

@media (min-width: 1025px) {
  /* Hide hamburger-menu for desktop screens */
  .hamburger-container > .hamburger {
    display: none;
  }
}

/*--------------------- Header styling (all pages) ---------------------*/

/* Logo */

.logo-link {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.header-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100px;
  padding: 1.2rem;
}

.nav-container {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  align-items: center;
}

.nav-item > a {
  text-decoration: none;
  padding: 0.6em;
  font-family: "Roboto Mono", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
}

/* Hamburger menu styling */

.main-nav-menu {
  display: flex;
  align-items: center;
}

.hamburger {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #85c7aa;
  padding: 4px 8px;
  border: solid black;
  height: 39px;
  width: 42px;
  border: solid black;
  border-width: 0.125em;
  border-radius: 0.4rem;
  box-shadow: #030303 0.1rem 0.1rem 0;
}

.bar {
  width: 24px;
  height: 3px;
  background-color: rgb(0, 0, 0);
}

/*--------------------- Hero styling (index.html) ---------------------*/

.hero-intro {
  margin-bottom: 3rem;
}

a.hero-btn-primary {
  background-color: #ac86a6;
}

a.hero-btn-secondary {
  background-color: #f5f1e1;
}

a.hero-btn-primary:hover {
  background-color: #a2789b;
}

a.hero-btn-secondary:hover {
  background-color: #f7f4ea;
}

/*--------------------- About styling (index.html) ---------------------*/

.about-container {
  display: flex;
  flex-direction: column;
}

.about-container > p {
  margin-bottom: 3rem;
}

.about-p {
  margin-bottom: 3rem;
}

a.about-btn-primary {
  background-color: #85c7aa;
}

a.about-btn-secondary {
  background-color: #f5f1e1;
}

a.about-btn-primary:hover {
  background-color: #7aba9e;
}

a.about-btn-secondary:hover {
  background-color: #f7f4ea;
}

/*--------------------- Projects styling (projects.html) ---------------------*/

.project-container {
  display: flex;
  flex-direction: column;
  border: solid black;
  border-width: 0.125em;
  border-radius: 0.4rem;
  box-shadow: #030303 0.2rem 0.2rem 0;
  margin-bottom: 3rem;
}

.project-img-container {
  margin-bottom: 2rem;
}

.project-img-container img {
  border-radius: 0.2rem 0.2rem 0 0;
}

.project-content-container {
  margin-bottom: 1rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.project-btn {
  position: relative;
  margin-top: 1.3rem;
  margin-bottom: 1.3rem;
}

.arrow-icon {
  position: absolute;
  top: 0.3rem;
  margin-left: 0.4rem;
}

.project-btn-link {
  text-decoration: none;
}

.project-btn-link:hover .arrow-icon {
  transform: scaleX(1.3);
}

/*--------------------- About-Me styling (about.html) ---------------------*/

.about-me-container {
  display: flex;
  flex-direction: column;
}

.about-me-img-container {
  border: solid black;
  border-width: 0.125em;
  border-radius: 0.4rem;
  box-shadow: #030303 0.2rem 0.2rem 0;
  margin: 1.2rem;
}

.about-me-img-container img {
  display: block;
  border-radius: 0.2rem;
}

.about-me-content-container {
  border: solid black;
  border-width: 0.125em;
  border-radius: 0.4rem;
  box-shadow: #030303 0.2rem 0.2rem 0;
  padding: 2rem;
  margin: 1.2rem;
  background-color: #f5f1e1;
}

.about-me-intro {
  margin-bottom: 2rem;
  font-size: 1rem;
}

.about-me-h1 {
  margin-bottom: 1.2rem;
}

.about-me-h2 {
  font-size: 1.2rem;
}

.about-me-p {
  font-size: 1rem;
}

.scuba {
  margin-bottom: 5rem;
}

/*--------------------- Contact styling (contact.html) ---------------------*/

.form-group {
  display: grid;
  grid-template-columns: 1fr;
  padding-bottom: 1rem;
}

.form-container {
  border: solid black;
  padding: 2rem;
  border-width: 0.125em;
  border-radius: 0.4rem;
  box-shadow: #030303 0.2rem 0.2rem 0;
  margin-left: 1.2rem;
  margin-right: 1.2rem;
  background-color: #f5f1e1;
}

.contact-content {
  padding-bottom: 3rem;
}

.form-group textarea {
  width: 100%;
  min-height: 100px;
  resize: vertical;
  border: solid black;
  margin-bottom: 0.5rem;
  padding: 10px 15px;
  border-width: 0.125em;
  border-radius: 0.4rem;
  background-color: #dedbce;
}

.form-group label {
  display: block;
  margin-bottom: 0.4rem;
  font-weight: bold;
}

.form-group input {
  border: solid black;
  border-width: 0.125em;
  border-radius: 0.4rem;
  height: 2.5rem;
  margin-bottom: 0.3rem;
  padding-left: 15px;
  background-color: #dedbce;
}

input:focus,
textarea:focus {
  /* Removes standard-focus style */
  outline: none;
  border-color: #85c7aa;
}

.form-button {
  display: flex;
  box-shadow: #030303 0.2rem 0.2rem 0;
  padding: 1rem 2rem;
  margin: 0px 0px 1rem;
  font-weight: bold;
  background-color: #85c7aa;
}

.form-button:hover {
  background-color: #7aba9e;
}

.contact-img-container img {
  margin-top: 3rem;
}

/*--------------------- Footer styling (all pages) ---------------------*/

a.footer-link {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.75)
}

.footer-menu-list,
.footer-icon-container {
  list-style-type: none;
}


/* Grid layout */

.footer-container {
  display: grid;
  grid-template-rows: repeat(3, 60px);
  grid-template-columns: 1fr auto;
  column-gap: 20px;
  padding: 3rem 1.2rem;
  border-top: solid black;
}

.item-1 {
 grid-row: span 4; 
 justify-self: start;
 align-self: center;
}

.item-2 {
  align-self: center;
}

.item-3 {
  grid-area: 2 / 2 / 3 / 3;

}

/* Underline link animation */

.footer-link {
  position: relative;
}

/* Pseudo-element for underline link animation */

.footer-link::after {
  content: ""; /* No visible content, but the pseudo-element exists */
  position: absolute;
  bottom: 0; /* Positions the underline at the bottom of the link.*/
  left: 0; /* Positions the underline at the left edge of the link.*/
  width: 0; /*Starts the underline with a width of 0, and on hover, it grows to 100%*/
  height: 2px; /* Thickness of underline */
  background-color:rgba(0, 0, 0, 0.75);
  transition: width 0.3s ease; /* Animation length and transition */
}

.footer-link:hover::after {
  width: 100%; /* Underline goes over whole content length */
}


/*Footer icon styling*/

.footer-icon-container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.fa-linkedin,
.fa-square-github,
.fa-square-facebook {
  transition: transform 0.2s ease-in-out;
}
.fa-linkedin:hover,
.fa-square-github:hover,
.fa-square-facebook:hover {
  transform: translateY(-3px);
  color: #4c4c4c;
}
