/* --------------------- CSS Reset ---------------------
- for better layout control
- Removes default margin and padding from all elements.  
- Applies the border-box model to ensure padding and border are included in element dimensions.  
- Prevents unexpected spacing issues and provides a consistent starting point for styling.  */



/*--------------------- Tailwind-Components ---------------------*/

/* Font styling */



/* Basic button styling */


/* Logo styling */



/* Basic picture tag reset */


/*--------------------- Media-Queries ---------------------*/

/*--------------------- Mobile Media-Query ---------------------*/

@media (max-width: 640px) {
  /* Basic mobile styles */



  
  .contact-content {
    margin-top: 3rem;
    margin-left: 1.8rem;
    margin-right: 1.8rem;
  }

  /* Button mobile styles */


  /* Header-section mobile styles */

 

  /* Hero-section mobile styles */




  /* Project-section mobile styles */


  /* About-me-section mobile styles */


  /* Contact-section mobile styles */

  label {
    font-size: 1.4rem;
  }

  .form-group input {
    height: 3rem;
  }

  .form-group textarea {
    min-height: 10rem;
  }

  .form-container {
    padding: 2rem;
    margin-left: 1.8rem;
    margin-right: 1.8rem;
  }

  .contact-img-container img {
    margin-top: 3rem;
  }

  /* Footer-section mobile styles */

}

/*--------------------- Tablet Media-Query ---------------------*/

@media (min-width: 641px) and (max-width: 1024px) {
  /* basic tablet styles */



  .contact-content,
  .form-container {
    margin-left: 3.2rem;
    margin-right: 3.2rem;
  }



  /* Button tablet styles */




  /* Header-section tablet styles */


  /* Hero-section tablet styles */


  /* Projects-section tablet styles */



  /* About-me-section tablet styles */



  /* Contact-section tablet styles */

  label {
    font-size: 1.8rem;
  }


  .form-group input {
    height: 3.5rem;
  }

  .form-group textarea {
    min-height: 15rem;
  }

  .form-container {
    padding: 4rem;
    margin-bottom: 5rem;
    margin-right: 14rem;
  }

  .contact-img-container img {
    margin-top: 3rem;
  }

  /* Footer-section tablet styles */


}
/*--------------------- Desktop Media-Query ---------------------*/

@media (min-width: 1025px) {
  /* Basic desktop styles */





  .contact-content,
  .form-container {
    margin-left: 10rem;
    margin-right: 10rem;
  }


  /* Button desktop styles */


  /* Header-section desktop styles */



  /* Hero-section and About-section desktop styles */



  /* Projects-section desktop styles */


  /* About-me-section desktop styles */



  /* Contact-section desktop styles */

  .contact-h1 {
    font-size: 3.6rem;
  }

  .contact-grid {
    display: grid;
    display: grid;
    grid-template-columns: minmax(50rem, 2fr) 1fr; /* 2 columns layout */
    gap: 1rem;
    align-items: center;
    align-content: end;
  }

  .contact-image {
    justify-self: end;
    margin-right: 10rem;
  }

  .form-container {
    margin-right: 4rem;
  }

  label {
    font-size: 1.8rem;
  }


  .form-group input {
    height: 3.5rem;
  }

  .form-group textarea {
    min-height: 15rem;
  }

  .form-container {
    padding: 4rem;
  }

  .contact-img-container img {
    border-radius: 0.8rem;
  }

  .contact-content {
    margin-bottom: 4rem;
  }
}

  /* Footer-section desktop styles */


/*--------------------- Header styling (all pages) ---------------------*/

/* Logo */



/* Nav Animation Placeholder */



/* Hamburger menu styling */



/*--------------------- Hero styling (index.html) ---------------------*/



/*--------------------- About styling (index.html) ---------------------*/


/*--------------------- Projects styling (projects.html) ---------------------*/



/*--------------------- About-Me styling (about.html) ---------------------*/



/*--------------------- Contact styling (contact.html) ---------------------*/




input:focus,
textarea:focus {
  /* Removes standard-focus style */
  outline: none;
  border-color: #85c7aa;
}



/*--------------------- Footer styling (all pages) ---------------------*/
