<section class="footer-section">
  <div class="footer-container">
    <div class="footer-item item-1">
      <div class="footer-menu-container">
        <!-- Footer menu links -->
        <nav class="footer-nav" aria-label="Footer navigation">
          <ul class="footer-menu-list">
            <li class="footer-menu-link">
              <a href="./index.html" class="footer-link">Home</a>
            </li>
            <li class="footer-menu-link">
              <a href="./projects.html" class="footer-link">My projects</a>
            </li>
            <li class="footer-menu-link">
              <a href="./about.html" class="footer-link">About me</a>
            </li>
            <li class="footer-menu-link">
              <a href="./contact.html" class="footer-link">Contact me</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
    <div class="footer-item item-2">
      <p class="footer-follow">Follow me</p>
    </div>
    <div class="footer-item item-3">
      <!-- Font awesome social icons/ links -->
      <div class="footer-icons">
        <ul class="footer-icon-container">
          <li>
            <a
              href="https://www.linkedin.com/in/sandra-wittek-680042202/"
              target="_blank"
              rel="noreferrer"
              aria-label="Visit Sandra Wittek on LinkedIn (opens in a new tab)"
              ><i class="fa-brands fa-linkedin"></i
            ></a>
          </li>
          <li>
            <a
              href="https://github.com/sandraJessica"
              target="_blank"
              rel="noreferrer"
              aria-label="Visit Sandra Wittek on GitHub (opens in a new tab)"
            >
              <i class="fa-brands fa-square-github"></i>
            </a>
          </li>
          <li>
            <a
              href="https://www.facebook.com/sandra.jess.5"
              target="_blank"
              rel="noreferrer"
              aria-label="Visit Sandra Wittek on Facebook (opens in a new tab)"
            >
              <i class="fa-brands fa-square-facebook"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="footer-item item-4">
      <p class="copyright"><small>&copy; 2025 sw pixel sparks</small></p>
    </div>
  </div>
</section>
