<section class="bg-white text-gray-900 py-8 border-t border-customGrey">
  <div
    class="mx-auto grid grid-cols-2 gap-6 px-7 md:px-11 lg:px-40 w-full h-full"
  >
    <nav aria-label="Footer navigation" class="space-y-4">
      <!-- Footer navigation links -->
      <ul class="space-y-2 text-left">
        <li
          class="text-lg text-customGrey relative group font-roboto-mono text-base font-normal"
        >
          <a
            href="./index.html"
            class="relative text-customGrey text-lg md:text-xl transition-colors duration-300 group-hover:text-black"
            >Home
            <span
              class="absolute left-0 bottom-0 w-0 h-[2px] bg-customGrey transition-all duration-300 group-hover:w-full"
            ></span
          ></a>
        </li>
        <li
          class="text-lg text-customGrey relative group font-roboto-mono text-base font-normal"
        >
          <a
            href="./projects.html"
            class="relative text-customGrey text-lg md:text-xl transition-colors duration-300 group-hover:text-black"
            >My Projects
            <span
              class="absolute left-0 bottom-0 w-0 h-[2px] bg-customGrey transition-all duration-300 group-hover:w-full"
            ></span
          ></a>
        </li>
        <li
          class="text-lg text-customGrey relative group font-roboto-mono text-base font-normal"
        >
          <a
            href="./about.html"
            class="relative text-customGrey text-lg md:text-xl transition-colors duration-300 group-hover:text-black"
            >About Me
            <span
              class="absolute left-0 bottom-0 w-0 h-[2px] bg-customGrey transition-all duration-300 group-hover:w-full"
            ></span
          ></a>
        </li>
        <li
          class="text-lg text-customGrey relative group font-roboto-mono text-base font-normal"
        >
          <a
            href="./contact.html"
            class="relative text-customGrey text-lg md:text-xl transition-colors duration-300 group-hover:text-black"
            >Contact Me
            <span
              class="absolute left-0 bottom-0 w-0 h-[2px] bg-customGrey transition-all duration-300 group-hover:w-full"
            ></span
          ></a>
        </li>
      </ul>
    </nav>
    <!-- Follow me title -->
    <div class="flex flex-col items-end space-y-4 text-customGrey text-right">
      <p class="text-lg md:text-xl font-semibold">Follow Me</p>
      <!-- Social links -->
      <div class="flex space-x-4">
        <a
          href="https://www.linkedin.com/in/sandra-wittek-680042202/"
          target="_blank"
          rel="noreferrer"
          aria-label="Visit Sandra Wittek on LinkedIn (opens in a new tab)"
          class="text-3xl sm:text-4xl md:text-5xl hover:text-black"
          ><i class="fa-brands fa-linkedin"></i
        ></a>
        <a
          href="https://github.com/sandraJessica"
          target="_blank"
          rel="noreferrer"
          aria-label="Visit Sandra Wittek on GitHub (opens in a new tab)"
          class="text-3xl sm:text-4xl md:text-5xl hover:text-black"
          ><i class="fa-brands fa-square-github"></i
        ></a>
        <a
          href="https://www.facebook.com/sandra.jess.5"
          target="_blank"
          rel="noreferrer"
          aria-label="Visit Sandra Wittek on Facebook (opens in a new tab)"
          class="text-3xl sm:text-4xl md:text-5xl hover:text-black"
          ><i class="fa-brands fa-square-facebook"></i
        ></a>
      </div>
      <!-- Copyright -->
      <div class="text-customGrey">
        <small>&copy; 2025 sw pixel sparks</small>
      </div>
    </div>
  </div>
</section>
