<section class="header-section">
  <div class="header-container">
    <!-- Logo -->
    <a href="./index.html" class="logo-link" aria-label="Return to homepage">
      <p class="logo">sw pixel sparks</p>
    </a>
    <!-- Main nav-menu -->
    <nav class="main-nav-menu" aria-label="Main navigation">
      <!-- Hamburger menu -->
      <div class="hamburger-container">
        <div class="hamburger">
          <div class="bar"></div>
          <div class="bar"></div>
          <div class="bar"></div>
        </div>
      </div>
      <!-- Main navigation links -->
      <ul class="nav-container">
        <li class="nav-item"><a href="./index.html">Home</a></li>
        <li class="nav-item">
          <a href="./projects.html">My Projects</a>
        </li>
        <li class="nav-item"><a href="./about.html">About Me</a></li>
        <li class="nav-item"><a href="./contact.html">Contact Me</a></li>
      </ul>
    </nav>
  </div>
</section>
