<section class="lg:bg-transparent">
  <nav
    class="flex items-center justify-between lg:justify-end px-7 md:px-11 lg:px-40 h-28"
    aria-label="Main navigation"
  >
    <!-- Logo -->
    <a href="./index.html" class="lg:mr-auto" aria-label="Return to homepage">
      <p
        class="font-jersey text-black text-2xl md:text-3xl lg:text-3xl whitespace-nowrap"
      >
        sw pixel sparks
      </p>
    </a>

    <div
      class="dropdown-menu hidden lg:block fixed top-28 fixed left-0 right-0 inset-x-0 z-10 lg:static bg-customGreen py-6 flex flex-col items-center lg:bg-transparent lg:min-h-[auto] border-black border-t-2 border-b-2 shadow-[2px_2px_0_#030303] lg:border-t-none lg:border-b-none lg:shadow-none lg:border-none"
    >
      <!-- Main navigation links -->
      <ul
        class="flex-col flex-nowrap gap-8 whitespace-nowrap lg:flex lg:flex-row"
      >
        <li
          class="relative group font-roboto-mono text-base font-normal pt-14 pb-6 lg:pt-0 lg:pb-0"
        >
          <a
            href="./index.html"
            class="relative text-customGrey text-xl md:text-2xl transition-colors duration-300 group-hover:text-black"
            >Home
            <span
              class="absolute left-0 bottom-0 w-0 h-[2px] bg-customGrey transition-all duration-300 group-hover:w-full"
            ></span>
          </a>
        </li>
        <li
          class="relative group font-roboto-mono text-base font-normal pb-6 lg:pb-0"
        >
          <a
            href="./projects.html"
            class="relative text-customGrey text-xl md:text-2xl transition-colors duration-300 group-hover:text-black"
            >My Projects
            <span
              class="absolute left-0 bottom-0 w-0 h-[2px] bg-customGrey transition-all duration-300 group-hover:w-full"
            ></span>
          </a>
        </li>
        <li class="relative group font-roboto-mono font-normal pb-6 lg:pb-0">
          <a
            href="./about.html"
            class="relative text-customGrey text-xl md:text-2xl transition-colors duration-300 group-hover:text-black"
            >About Me
            <span
              class="absolute left-0 bottom-0 w-0 h-[2px] bg-customGrey transition-all duration-300 group-hover:w-full"
            ></span>
          </a>
        </li>
        <li class="relative group font-roboto-mono font-normal pb-14 lg:pb-0">
          <a
            href="./contact.html"
            class="relative text-customGrey text-xl md:text-2xl transition-colors duration-300 group-hover:text-black"
            >Contact Me
            <span
              class="absolute left-0 bottom-0 w-0 h-[2px] bg-customGrey transition-all duration-300 group-hover:w-full"
            ></span>
          </a>
        </li>
      </ul>
    </div>

    <!-- Hamburger menu -->

    <button
      id="menu-toggle"
      class="flex flex-col items-center justify-around bg-customGreen w-12 h-12 rounded border-2 border-solid border-black shadow-custom lg:hidden xl:hidden 2xl:hidden cursor-pointer"
      aria-label="Open menu"
    >
      <div class="toggle-button">
        <i class="fa-solid fa-bars fa-2xl" id="icon-open"> </i>
        <i class="fas fa-times fa-2xl hidden" id="icon-close"></i>
      </div>
    </button>

    
    <!-- Dropdown menu, hamburger & close icons and sticky menu animations -->
    <script>
      const toggleBtn = document.querySelector(".toggle-button");
      const dropdown = document.querySelector(".dropdown-menu");
      const header = document.querySelector(".header");

      toggleBtn.addEventListener("click", () => {
        dropdown.classList.toggle("hidden"); // Toggle visibility of the dropdown menu
        header.classList.toggle("sticky"); // Toggle sticky menu
        header.classList.toggle("top-0");

        

        // Toggle visibility of the hamburger bars and close icon
        const barsIcon = toggleBtn.querySelector(".fa-bars");
        const closeIcon = toggleBtn.querySelector(".fa-times");

        // When hamburger bars are visible, hide them and show the close icon
        barsIcon.classList.toggle("hidden");
        closeIcon.classList.toggle("hidden");
      });

       // --- Aria-label change animation ---
      const toggleButton = document.getElementById("menu-toggle"); // Button
      const iconOpen = document.getElementById("icon-open");  // Hamburger icon
      const iconClose = document.getElementById("icon-close"); // Close icon

      let menuIsOpen = false; // state: menu open?

      toggleButton.addEventListener("click", () => {
        menuIsOpen = !menuIsOpen; // change state (true/false)

        // Change aria-label depending on state
        toggleButton.setAttribute(
          "aria-label",
          menuIsOpen ? "Close menu" : "Open menu"
        );
      });
    </script>
  </nav>
</section>
