<section class="header-section">
  <div class="flex items-center justify-between w-full h-28 px-7 md:px-11 lg:px-40">
    <!-- Logo -->
    <a href="./index.html" class="logo-link" aria-label="Return to homepage">
      <p class="font-jersey text-black text-2xl md:text-3xl lg:text-3xl whitespace-nowrap">sw pixel sparks</p>
    </a>
    <!-- Main nav-menu -->
    <nav class="main-nav-menu" aria-label="Main navigation">
      <!-- Hamburger menu -->
      <div class="hamburger-container">
        <div class="flex flex-col items-center justify-around bg-customGreen w-12 h-12 rounded border-2 border-solid border-black shadow-custom lg:hidden xl:hidden 2xl:hidden cursor-pointer">
          <div <i class="fa-solid fa-bars fa-2xl"></i></div>
        </div>
      </div>
      <!-- Main navigation links -->
      <ul class="nav-container flex flex-nowrap gap-8 space-x-3 whitespace-nowrap hidden lg:flex">
        <li class="nav-item relative group font-roboto-mono text-base font-normal"><a href="./index.html" class="relative text-customGrey text-xl transition-colors duration-300 group-hover:text-black">Home<span class="absolute left-0 bottom-0 w-0 h-[2px] bg-customGrey transition-all duration-300 group-hover:w-full"></span></a></li>
        <li class="nav-item relative group font-roboto-mono text-base font-normal">
          <a href="./projects.html" class="relative text-customGrey text-xl transition-colors duration-300 group-hover:text-black">My Projects <span class="absolute left-0 bottom-0 w-0 h-[2px] bg-customGrey transition-all duration-300 group-hover:w-full"></span></a>
        </li>
        <li class="nav-item relative group font-roboto-mono font-normal"><a href="./about.html" class="relative text-customGrey text-xl transition-colors duration-300 group-hover:text-black">About Me <span class="absolute left-0 bottom-0 w-0 h-[2px] bg-customGrey transition-all duration-300 group-hover:w-full"></span></a></li>
        <li class="nav-item relative group font-roboto-mono font-normal"><a href="./contact.html" class="relative text-customGrey text-xl transition-colors duration-300 group-hover:text-black">Contact Me <span class="absolute left-0 bottom-0 w-0 h-[2px] bg-customGrey transition-all duration-300 group-hover:w-full"></span></a></li>
      </ul>
    </nav>
  </div>
</section>
